<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
  </div>
</section>
<section>
  <div class="container">
    <div class="row" style="width:100%">

      <div class="col-3">

        <label for="inlineFormInput">Select Product</label>
        <select (change)="ChangeProduct()" aria-placeholder="Select Product" placeholder="Select Product"
          class="form-control productSelect"
          id="exampleFormControlSelect1"
          [(ngModel)]="selectedProductId">

          <option *ngFor='let product of products ' [value]="product.id">{{product?.name}}</option>
        </select>
      </div>
      <div class="col-3">

        <label for="inlineFormInput">Select Quantity</label>
        <input class="form-control qtyTextbox" (change)="ChangeProduct()" type="number" placeholder="Enter Quantity" min="1"
          [(ngModel)]="selectedQty">
      </div>
      <div class="col-3">

        <label for="inlineFormInput">Unit Price</label>
        <br />
      <span class="productprice"> {{unitPrice  | number : '1.2-2' }}</span>
      </div>
      <!-- <div class="col-3">

        <label for="inlineFormInput">Total Price</label>
        <br />
      <span class="productprice"> {{selectedPrice  | number : '1.2-2' }}</span>
      </div> -->

      <div class="col-3" style="display:flex; align-items: center;">
        <button class="addproduct" (click)="addProduct()">Add </button>
      </div>
    </div>

  </div>
</section>
<div class="container mb-4 mt-4" *ngIf="cartitems?.length >0">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"> Line No. </th>
              <th scope="col">Description</th>
              <th scope="col" class="text-center">Quantity</th>
              <th scope="col" class="text-right">Price</th>
               <th scope="col" class="text-right">Basic sales tax</th>
               <th scope="col" class="text-right">Import duty tax</th>


               <th scope="col" class="text-right">Tax</th>
              <th scope="col" class="text-right">Total Price</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartitems; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.product.name}}</td>
              <td><input class="form-control" type="text" [value]="item.quantity" (change)="updateQty(item,$event)" />
              </td>
              <td class="text-right">${{item.product.price | number : '1.2-2'}}</td>
              <td class="text-right">{{item?.salesTaxPer | number : '1.2-2'}}%</td>
              <td class="text-right">{{item?.importTaxPer | number : '1.2-2'}}%</td>
              <td class="text-right">${{item?.salesTax | number : '1.2-2'}}</td>
              <td class="text-right">${{item.priceWithTax | number : '1.2-2' }}</td>
              <td class="text-right"><button class="btn btn-sm btn-danger removeproduct" (click)="remove(i)">Remove
                </button> </td>
            </tr>


            <tr>
              <td></td>
                <td></td>
                <td></td>
                <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Sub-Total</td>
              <td class="text-right">${{subTotal | number : '1.2-2'}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Tax</td>
              <td class="text-right">${{salesTax | number : '1.2-2'}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>${{orderTotal | number : '1.2-2'}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button (click)="addOrder()" class="btn btn-lg btn-block btn-success text-uppercase ">Place Order</button>
        </div>
      </div>
    </div>
  </div>
</div>